.banner {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  h1 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
}
