.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #000000;
}

.btn-book {
  color: rgb(22, 15, 15);
  padding: 8px 20px;
  border-radius: 20px;
  background: #dbd8d8;
  }


.btn-book:hover {
  background: #a6a5a5;
  color: rgb(30, 29, 29)
}
